body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

	
.signup-form .btn, .signup-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #009a49 !important;
	border:1px #009a49 solid;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: white !important;
	border:1px #009a49 solid;
	color:#009a49;
}
.signup-form a {
	color: #009a49;	
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #009a49;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .fa {
	font-size: 21px;
}
.signup-form .fa-paper-plane {
	font-size: 18px;
}
.signup-form .fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}
.text-center{
    background-color: #fff;
} */


#password-hints ul{
	padding-top: 15px;
	padding-right: 15px;
}
#password-hints ul li{
	list-style: none;
	margin-left: -25px;
	padding: 3px;
}
#password-hints ul li i{
	
	margin-right: 10px;
}
#confirm_password_check{
	display: none;
}
#strength_message{
	color: red;
	display: none;
	margin-top: -20px;
	text-align: right;
	font-size: 12px;
}
#show_confirm_password, #show_password{
display: none;
}

#hr{
    
	display: none;
	border: 5px solid red;
  	border-radius: 5px;
	width: 25%;
	margin: auto;
}


