body{
    font-family: "Lucida Console", "Courier New", monospace;
}
.logo{
    padding: 20px 10px;
}
.mr-auto .nav-item{
    padding:0 50px !important;
}
footer{
    padding:20px 30px;
    background-color: aliceblue;
}
footer ul li{
    margin-right: 20px;
}
footer ul li i{
    font-size: 2em;
    color:#009a49;
}
