html{
  height: 100%;
}
#main-container{
     margin-top: 60px;
     position: fixed; right:0; height: 100%; overflow-y: auto;
}
#sidebar{
  background: #f8f9fa;
  /* height:100%;
  position: fixed; */
  /*top:12%;
  width:18%;
  overflow: scroll; */
  padding-top: 30px;
  position: fixed; left:0; height: 100%; overflow-y: auto;
}
.modal-backdrop {   
  display: none;    
}
/* width */
/* ::-webkit-scrollbar {
    width: 10px;
  }
   */
  /* Track */
  /* ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  } */
   
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #888; 
  }
   */
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */